/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

button,
.icon-btn {
    cursor: pointer;
}

.container:not(.header) {
    margin-bottom: 75px;
}

.modal {
    .close {
        right: 0;
        top: 0;
        outline: none;

        span {
            outline: none;
        }
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem
}