/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

button,
.icon-btn {
    cursor: pointer;
}

.container:not(.header) {
    margin-bottom: 75px;
}

.modal {
    .close {
        right: 0;
        top: 0;
        outline: none;

        span {
            outline: none;
        }
    }
}

.image-selection-field {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    position: relative;
    max-width: min-content;

    .edit {
        top: -13px !important;
        right: 5px;
    }
}

.modal:not(#imagePreviewModal) {
    :not(.imageGroup) {

        img {
            width: 200px;
            margin-right: 10px;
        }

    }

    .imageGroup {
        img {
            width: 100px
        }
    }
}

.d-grid {
    display: grid;
}

.overflow-hidden {
    overflow: hidden;
}


.card {
    // COLORS SHOULD BE MANGED IN variables
    // color: #a69279 !important;
    cursor: pointer;
    /* width: 300px; */
    border-radius: 0;
    height: 100%;
    border-color: transparent;

    .card-body {
        padding: 0 0 0 0px;
    }

    .card-img-container {
        // height: 254px;
        // overflow-y: hidden;

        img {
            max-width: 100%;
            // height: 2000x;
            // max-height: 100%;
        }
    }

    color: initial;

    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 1258px;
}

a.card,
div.card {
    &:hover {
        .hoverTextContainer {
            opacity: 100%;
        }
    }
}

.clickable {
    cursor: pointer;
}

.hoverTextContainer {
    opacity: 0;
    transition: all 0.3s;

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        background-color: aliceblue;
    }

    button {
        border-width: 3px;
        font-weight: 700;
    }

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conseal {
    opacity: 0;
    translate-y: -5px;
    transition: all 0.5s;

    &.reveal {
        opacity: 1;
        translate-y: 0px;
    }
}